html *
{
   color: #FFF !important;
   font-family: Helvetica !important;
}

#outer{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

body{
	background-image: url("background.jpg");
}

a{
	text-decoration: none;
}

h1, h3{
	margin: 0;
}

#container{
	background-color: #999;
  opacity: 0.8;
	width: 1000px;
	margin: auto;
	text-decoration-color: white;
  vertical-align: middle;
}

#header{
  background-color: #999;
	text-align: left;
	padding-left: 5em;
}

#content{
	padding: 10px;
}

#nav{
	width: 200px;
	float: left;
}

#nav ul{
	list-style-type: none;
	padding-left: 10px;
}

#main{
	width: 780px;
	float: right;
}

#footer{
	clear: both;
	text-align: center;
}
